//- modal-dialog & model-content are containers for this template
.auth-modal(ng-init="LC.showSecret = false;")
  .modal-header
    h4.modal-title Login with your LDS Account
    div(ng-if="LC.flashMessage")
      br
      .alert(ng-class="[ LC.flashMessageClass ]")
        span(ng-bind="LC.flashMessage")

  .modal-body
    //- Update account means show only new and required fields
    //- NOTE: upgrading from one role to another may prompt this modal to show
    //- Create account means show all required fields (same as update)
    //- Link account means show only login fields, this may go back to update account
    form(ng-submit="LC.submitCodes()" ng-if="'codes' == LC.formAction")
      .row
        .col-xs-12
          span(ng-if="'codes' == LC.formAction")
            .form-group(ng-if="LC.deltaPhone.node")
              label(for="phonecode") SMS verification for {{ LC.deltaPhone.node }}. (send by +1 (801) 788-4599)
              input.form-control(
                type="text"
                placeholder="ex: SMS 098-765"
                ng-model="LC.deltaPhone.code"
              )

            .form-group
              label(for="emailcode") EMAIL verification code for {{ LC.deltaEmail.node }}. (sent by woof@hellabit.com)
              input.form-control(
                type="text"
                placeholder="ex: EMAIL 123-456"
                ng-model="LC.deltaEmail.code"
              )

      .modal-footer
        .row
          .col-xs-12
            .form-group
              input.btn.btn-primary(ng-if="'codes' == LC.formAction" type='submit' value="Verify Account")
              //-a.btn.btn-default.pull-right(href='') Help

    form(ng-submit="LC.submitLogin()" ng-if="'codes' != LC.formAction")
      .row
        .col-xs-12
          span(ng-if="'codes' != LC.formAction")
            .form-group(ng-if="!LC.account.localLoginId")
              label(for="username") LDS.org Account Username
              span &#32;(
              a(href="https://ldsaccount.lds.org/recover-username" target="forgotuser") forgot username?
              span )
              input.form-control(
                ng-model="LC.delta.localLogin.uid"
                ng-change="LC.checkLogin(LC.delta.localLogin)"
                ng-disabled="LC.authenticating"
                type="text"
                placeholder="ex: johndoe"
              )
              span &#32;
              span(ng-bind="LC.delta.localLogin.message")
              span(ng-if="!LC.delta.localLogin.message") Enter your existing username or the username you would like to create.

            .form-group(ng-if="LC.delta.localLogin.exists")
              label(for="password") LDS.org Account Passphrase 
              span &#32;(
              a(href="https://ldsaccount.lds.org/recover-password" target="forgotpass") forgot passphrase?
              span )
              span &nbsp;&nbsp;&nbsp;
              label.checkbox-inline
                input.checkbox(
                  type="checkbox"
                  ng-model="LC.showSecret"
                )
                span Show
              input.form-control(
                ng-if="!LC.showSecret"
                ng-model="LC.delta.localLogin.secret"
                ng-change="LC.checkSecret(LC.delta.localLogin)"
                ng-disabled="LC.authenticating"
                type='password'
                placeholder="ex: ************"
              )
              input.form-control(
                ng-if="LC.showSecret"
                ng-model="LC.delta.localLogin.secret"
                ng-change="LC.checkSecret(LC.delta.localLogin)"
                ng-disabled="LC.authenticating"
                type='text'
                placeholder="ex: my secret phrase"
              )
              span(ng-if="LC.delta.localLogin.secret.length" ng-bind="LC.delta.localLogin.secretMessage")
              span(ng-if="!LC.delta.localLogin.secret.length") Enter a passphrase with {{ LC.config.secretMinLen }} or more characters.

          //-span(ng-if="'create' == LC.formAction && !LC.recoverable")
            .form-group
              label(for="email") Recovery Email Address (required)
              input.form-control(
                type="email"
                placeholder="ex: john.doe@gmail.com"
                ng-model="LC.deltaEmail.node"
                ng-change="LC.checkEmail(LC.deltaEmail)"
              )
              span
                span This address will be used &#32;
                strong ONLY
                span &#32;for account recovery and critically important messages,&#32;
                strong NOT ads
                span , news, notifacations,&#32;
                strong NOR any other junk
                span .
            span(ng-bind="LC.deltaEmail.message")

            .form-group
              label(for="tel") Recovery Phone Number (optional)&#32;
              label.checkbox-inline
                input.checkbox(
                  type="checkbox"
                  ng-model="LC.smsAuth"
                )
                span Require SMS code if I login from a new device
              input.form-control(
                type="tel"
                placeholder="ex: +1 (555) 222-3456"
                ng-model="LC.deltaPhone.node"
                ng-change="LC.checkPhone(LC.deltaPhone)"
              )
              span
                span Whenever you sign in on a new deviceThis number will be used &#32;
                strong ONLY
                span &#32;for account authorization and recovery,&#32;
                strong NOT lists
                span &#32; or promotions.
            span(ng-bind="LC.deltaPhone.message")

      .row(ng-if="'create' == LC.formAction")
        .col-xs-12
          div
            p
              span To create an LDS Account you will need your&#32;
              strong Membership Record Number (MRN)
              span .
            p 
              span You can get your&#32;
              strong MRN
              span &#32;from
            ul
              li
                span your&#32;
                strong Temple Recommend
              li
                span your&#32;
                strong Patriarchal Blessing
              li
                span your&#32;
                strong Tithing Settlement
                span &#32;statement
              li
                span your&#32;
                strong ward clerk

      .modal-footer
        .row
          .col-xs-12
            .form-group
              input.btn.btn-primary(
                ng-if="!LC.formAction"
                type='submit'
                disabled="disabled"
                value="Enter Username"
              )
              input.btn.btn-primary(
                ng-if="LC.authenticating"
                disabled="disabled"
                type="button"
                value="Logging in..."
              )
              input.btn.btn-primary(
                ng-if="'login' == LC.formAction && !LC.authenticating"
                ng-disabled="LC.authenticating"
                type='submit'
                value="Login"
              )
              a.btn.btn-primary(
                ng-if="'create' == LC.formAction"
                type="submit"
                href="https://ldsaccount.lds.org/register?isMember=true" target="ldsaccount"
              ) Register for an LDS Account on LDS.org

      .row(ng-if="LC.logins.length")
        .col-xs-12
          label You will be able to login to this account through
          ul
            li(ng-repeat="login in LC.logins", ng-if="login.link")
              //- TODO {{ provider }} ({{ username }})
              span {{ login.comment || (login | json) }}

          //-div(ng-repeat="login in LC.logins")
            label.checkbox-inline
              input.checkbox(
                type="checkbox"
                ng-model="login.link"
                ng-click="login.link = !login.link"
              )
              span {{ login.comment || (login | json) }}


    .social.signin-option(ng-if="!LC.hideSocial && LC.loginStrategies.length")
      hr
      h3 Or Connect with...
      .row
        .col-md-6(ng-repeat="strategy in LC.loginStrategies")
          .option
            button(
              type="button"
              ng-click="strategy.login()"
              ng-class="[ 'btn', 'btn-block', 'btn-social', strategy.btnClass ]"
            )
              i(ng-class="[ 'fa', strategy.faClass ]")
              //-  img(ng-if="strategy.faImage" ng-src="{{ strategy.faImage }}")
              span.signin {{ strategy.label }}

    //-
      hr
      .row
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-openid(type="button", ng-click="LC.loginWithLoopback()")
              i.fa.fa-openid
              span.signin Sign In with Loopback
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-facebook(type="button", ng-click="LC.loginWithFacebook()")
              i.fa.fa-facebook
              span.signin Sign In with Facebook
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-twitter(type="button", ng-click="LC.loginWithTwitter()")
              i.fa.fa-twitter
              span.signin Sign In with Twitter
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-google-plus(type="button", ng-click="LC.loginWithGplus()")
              i.fa.fa-google-plus
              span.signin Sign In with Google
        .col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-ldsconnect(type="button", ng-click="LC.loginWithLdsconnect()")
              i.fa
                img(src="/images/moroni.png")
              span.signin Sign In with LDS.org
        //-.col-md-6
          .option
            button.btn.btn-block.btn-social.btn-lg.btn-envelope(type="button", ng-click="LC.loginWithEmail()")
              i.fa.fa-envelope
              span.signin Sign In with Email
              //- TODO open self oauth popup

    .developer.signin-option(ng-if="'token' == LC.authType")
      .row
        form(ng-submit="LC.loginWithToken()")
          .col-md-12
            .form-group
              label(for='token') Bearer Token (Client Access App Code)
              input.form-control(ng-model="LC.authToken", type='text', placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx")
          .col-md-12(ng-if="LC.demoProfiles.length")
            h4 Test Profiles
            ul.list-group
              li.list-group-item(ng-repeat="profile in LC.demoProfiles")
                .row
                  .col-sm-2
                    strong(ng-bind="profile.role")
                  .col-sm-10
                    .btn.btn-link(ng-bind="profile.token", ng-click="LC.authToken = profile.token")



      .modal-footer
        .row
          .col-xs-12
            .form-group
              input.btn.btn-primary(type="submit", value="Link Account")
              a.btn.btn-default.pull-right(href='') Help
