.container
  div.alert-info(ng-if="MAC.loading")
    p(ng-if="!MAC.loadingBlink") Loading...

  h2 Available Tokens
  div(ng-repeat="login in MAC.session.logins")
    span(ng-init="L = {};")
    p
      span Token: &#32;
      code {{ login.token }}
      span &#32; Expires At: &#32;
      code {{ login.expiresAt }}
      br
      span Account ID: &#32;
      code(ng-repeat="account in login.accounts") {{ account.appScopedId || account.id }}
      br
      span Granted Scope: &#32;
      code todo
      br
      button.btn.btn-link(ng-show="!L.showJson" ng-click="L.showJson = true") show json
      button.btn.btn-link(ng-show="L.showJson" ng-click="L.showJson = false") hide json
      div(ng-if="L.showJson")
        pre
          code {{ login | json }}
  h2 Available Accounts
  .row
    .col-sm-6.col-md-4(ng-repeat="account in MAC.accounts")
      .thumbnail
        img(
          ng-src="{{ account.profile.me.photo }}"
          ng-alt="{{ account.profile.me.name + ' ' + account.profile.me.surnames.join(' ') }}"
        )
        .caption
          h3 {{ account.profile.me.name + ' ' + account.profile.me.surnames.join(' ') }}
          p {{ account.profile.me.homeWardName }}
          p {{ account.profile.me.homeStakeName }}
          p
            button.btn.btn-primary(
              ng-if="account !== MAC.selectedAccount"
              ng-click="MAC.selectedAccount = account; MAC.updateAccount();"
              role="button"
            ) Select
            button.btn.btn-primary(
              ng-if="account === MAC.selectedAccount"
              ng-click="MAC.selectedAccount = account; MAC.updateAccount();"
              role="button"
              disabled="disabled"
            ) Selected
    .col-sm-6.col-md-4(ng-repeat="account in MAC.accounts")
      .thumbnail
        img(
          src="https://ldsconnect.org/images/avatar-64px.png"
          alt="Add User Account"
          width="150"
        )
        //- TODO add by token also
        .caption
          h3 Add Another Account
          p &nbsp;
          p &nbsp;
          p
            button.btn.btn-success(
              ng-click="MAC.switchUser()"
              role="button"
            ) Add Login

  h2 Choose Stake and Ward
  br
  select.form-control(
    ng-if="MAC.selectedAccount"
    ng-options="stake as stake.comment for stake in MAC.selectedAccount.profile.me.stakes track by stake.appScopedId"
    ng-model="MAC.stake"
    ng-change="MAC.updateStake()"
  )
  select.form-control(
    ng-if="MAC.stake"
    ng-options="ward as ward.comment for ward in MAC.stake.wards track by ward.appScopedId"
    ng-model="MAC.ward"
    ng-change="MAC.updateWard()"
  )

  h2 Explore API

  ul
    li https://lds.io/api/ldsio/accounts
    li https://lds.io/api/ldsio/&lt;accountId>/me
    li https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>
    li https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/photos
    li https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/wards/&lt;wardId>
    li https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/wards/&lt;wardId>/photos
    li https://lds.io/api/ldsio/&lt;accountId>/photos/individual/&lt;individualId>/&lt;date>/medium/&lt;whatever>.jpg
    li https://lds.io/api/ldsio/&lt;accountId>/photos/family/&lt;homeId>/&lt;date>/medium/&lt;whatever>.jpg

  //- TODO server version as well
  p
    .checkbox
      label
        input(type="checkbox" ng-model="MAC.camelCase" ng-init="MAC.camelCase = true")
        span use Camel Case mode

  // API::ACCOUNTS
  div
    h3
      span /accounts
      span &#32;
      small
        a(ng-if="!MAC.json.accounts" href="" ng-click="MAC.api.accounts({ show: true })") show example
        a(ng-if="MAC.json.accounts" href="" ng-click="MAC.api.accounts({ show: false })") hide example
    p
      code https://lds.io/api/ldsio/accounts
    pre
      code.
        curl -fsSL -X 'GET' "https://lds.io/api/ldsio/accounts{{ MAC.camelCase && '?camel=true' || '' }}" \
        &nbsp; -H 'Authorization: Bearer {{ MAC.selectedAccount.token }}' \
        &nbsp; -H 'X-Developer-Mode: true' \
        &nbsp; | python -m json.tool
    div(ng-if="MAC.json.accounts")
      pre
        code {{ MAC.json.accounts | json }}

  // API::ME
  div
    h3
      span /me
      span &#32;
      small
        a(ng-if="!MAC.json.me" href="" ng-click="MAC.api.me({ show: true })") show example
        a(ng-if="MAC.json.me" href="" ng-click="MAC.api.me({ show: false })") hide example
    p
      code https://lds.io/api/ldsio/&lt;accountId>/me
    pre
      code.
        curl -fsSL -X 'GET' "https://lds.io/api/ldsio/{{ MAC.selectedAccount.appScopedId }}/me{{ MAC.camelCase && '?camel=true' || '' }}" \
        &nbsp; -H 'Authorization: Bearer {{ MAC.selectedAccount.token }}' \
        &nbsp; -H 'X-Developer-Mode: true' \
        &nbsp; | python -m json.tool
    div(ng-if="MAC.json.me")
      pre
        code {{ MAC.json.me | json }}

  // API::Stake
  div
    h3
      span /stakes/&lt;stakeId>
      span &#32;
      small
        a(ng-if="!MAC.json.stake" href="" ng-click="MAC.api.stake({ show: true })") show example
        a(ng-if="MAC.json.stake" href="" ng-click="MAC.api.stake({ show: false })") hide example
    p
      code https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>
    pre
      code.
        curl -fsSL -X 'GET' "https://lds.io/api/ldsio/{{ MAC.selectedAccount.appScopedId }}/stakes/{{ MAC.stake.appScopedId }}{{ MAC.camelCase && '?camel=true' || '' }}" \
        &nbsp; -H 'Authorization: Bearer {{ MAC.selectedAccount.token }}' \
        &nbsp; -H 'X-Developer-Mode: true' \
        &nbsp; | python -m json.tool
    div(ng-if="MAC.json.stake")
      pre
        code {{ MAC.json.stake | json }}

  // API::Ward
  div
    h3
      span /stakes/&lt;stakeId>/wards/&lt;wardId>
      span &#32;
      small
        a(ng-if="!MAC.json.ward" href="" ng-click="MAC.api.ward({ show: true })") show example
        a(ng-if="MAC.json.ward" href="" ng-click="MAC.api.ward({ show: false })") hide example
    p
      code https://lds.io/api/ldsio/&lt;accountId>/stakes/&lt;stakeId>/wards/&lt;wardId>
    pre
      code.
        curl -fsSL -X 'GET' "https://lds.io/api/ldsio/{{ MAC.selectedAccount.appScopedId }}/stakes/{{ MAC.stake.appScopedId }}/wards/{{ MAC.ward.appScopedId }}{{ MAC.camelCase && '?camel=true' || '' }}" \
        &nbsp; -H 'Authorization: Bearer {{ MAC.selectedAccount.token }}' \
        &nbsp; -H 'X-Developer-Mode: true' \
        &nbsp; | python -m json.tool
    div(ng-if="MAC.json.ward")
      pre
        code {{ MAC.json.ward | json }}

  h3 (more in progress)
