.container
  div.alert.alert-warning(ng-if="!OA.freshAccount")
    p
      | It has been 3 months or more since you last verified the phone number and email addresss associated
      | with your LDS Account.
    p
      | You will be asked to verify them before managing or creating apps.
  div.alert.alert-danger(ng-if="!OA.hasPhone || !OA.hasEmail")
    p(ng-if="!OA.hasPhone")
      strong No phone number
      span &#32;is listed in your LDS Account.

    p(ng-if="!OA.hasEmail")
      strong No email address
      span &#32;is listed in your LDS Account.
    p
      span &#32;Please add it to both&#32;
    ul
      li
        a(href="https://ldsaccount.lds.org/?lang=eng#detail=contact" target="_blank") LDS Account Contact & Recovery
      li
        strong My Household
        span &#32;in&#32;
        a(href="https://www.lds.org/directory/?lang=eng#x" target="_blank") LDS Ward Directory

  //-h3 App Settings
  //-p.small Possible app settings here

  h3 Your Apps

  .row
    div.panel.panel-default(ng-repeat="client in OA.clients")
      .panel-body
        form(role="form", ng-submit="OA.updateApp(client)")
          .row
            .col-sm-6
              .thumbnail
                img(ng-src="{{ client.logo || 'images/ldsconnect-app-256.png' }}")
                .caption
                  .form-group
                    input.form-control(
                      ng-required
                      required="required"
                      type="text"
                      max-length="16"
                      ng-model="client.name"
                      placeholder="Name (i.e. HT Sunday Bowl)"
                    )
                    div.pull-right(ng-class="{ 'alert': client.name.length > 16, 'alert-danger': client.name.length > 16 }")
                      span(ng-bind="client.name.length || 0")
                      span /16
                  .form-group
                    textarea.form-control(
                      ng-required
                      required="required"
                      rows="5"
                      ng-model="client.desc"
                      placeholder="Description (i.e. Get your head in the game with the best home teaching app this side of Zarahemla. Get ready to report! It's time for the Home Teaching bowl!)"
                    )
                    div.pull-right(ng-class="{ 'alert': client.desc.length > 140, 'alert-danger': client.desc.length > 140 }")
                      span(ng-bind="client.desc.length || 0")
                      span /140

              .form-group
                input.form-control(
                  type="url"
                  ng-model="client.logo"
                  placeholder="Logo (i.e. https://i.imgur.com/1uZWJA4.png)"
                )
              .form-group
                input.form-control(
                  type="url"
                  ng-model="client.url"
                  placeholder="Allowed URL (i.e. https://myapp.com)"
                )
            .col-sm-6
              h3 Client Keys
              h4 (for user data on browser, mobile, desktop)
              div
                strong Development:
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: true, test: true, type: 'id' }) }}"
                  )
              div
                strong Production:
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: true, test: false, type: 'id' }) }}"
                  )

              h3 Server Keys
              h4 (no user data, login, ids, and tokens only)
              div
                strong Development (testing, staging):
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: false, test: true, type: 'id' }) }}")
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: false, test: true, type: 'key' }) }}"
                  )

              div
                strong Production (live):
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: false, test: false, type: 'id' }) }}"
                  )
                .form-group
                  input.form-control(
                    disabled
                    value="{{ OA.getKeyPair(client, { insecure: false, test: false, type: 'key' }) }}"
                  )

          .row
            .col-sm-6
              p Created: {{ client.updatedAt }}
            .col-sm-6
              p Last updated: {{ client.updatedAt }}
          .row
            button.btn.btn-default.pull-right(type="submit" ng-if="!client.updating") Update
            button.btn.btn-default.pull-right(type="submit" ng-if="client.updating" disabled="disabled") Updating...
            button.btn.btn-danger.pull-left(type="button" ng-click="OA.deleteApp(client)") Delete
            br

  .row
    h3 Register an App

    form(role="form", ng-submit="OA.registerApp(OA.newApp)")
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(ng-src="{{OA.newApp.logo || 'images/ldsconnect-app-256.png'}}")
            .caption
              .form-group
                input.form-control(
                  ng-required
                  required="required"
                  type="text"
                  max-length="16"
                  ng-model="OA.newApp.name"
                  placeholder="Name (i.e. HT Sunday Bowl)"
                )
                div.pull-right(ng-class="{ 'alert': OA.newApp.name.length > 16, 'alert-danger': OA.newApp.name.length > 16 }")
                  span(ng-bind="OA.newApp.name.length || 0")
                  span /16
              .form-group
                textarea.form-control(
                  ng-required
                  required="required"
                  rows="5"
                  ng-model="OA.newApp.desc"
                  placeholder="Description (i.e. Get your head in the game with the best home teaching app this side of Zarahemla. Get ready to report! It's time for the Home Teaching bowl!)"
                )
                div.pull-right(ng-class="{ 'alert': OA.newApp.desc.length > 140, 'alert-danger': OA.newApp.desc.length > 140 }")
                  span(ng-bind="OA.newApp.desc.length || 0")
                  span /140
          .form-group
            input.form-control(
              type="url"
              ng-model="OA.newApp.logo"
              placeholder="Logo (i.e. https://i.imgur.com/1uZWJA4.png)"
            )
          .form-group
            input.form-control(
              type="url"
              ng-model="OA.newApp.url"
              placeholder="Allowed URL (i.e. https://myapp.com)"
            )
      button.btn.btn-default(type="submit") Get Application Keys
